html,body {
    height:100%;
    padding-top:70px;
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    
}

body {
    margin: 0;
    background: rgb(200, 131, 40);
    color: #000;
}


